.wrapper {
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #222;
}

.description {
    font-size: 18px;
    color: #555;
}